{% extends '::base.html.twig' %}
{% block body %}
<div class="jumbotron">
<div class="container text-center">
<h1>Oops</h1>
<p><h2>{{ status_code }} - {{ status_text }}</h2> </p>
<p><a href="{{ path("main") }}" class="btn btn-primary">Home</a> <a href="{{ path("main") }}" class="btn btn-success">Contact</a></p>
</div>
</div>
{% endblock %}