   <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="panel panel-primary">
          <div class="panel-heading">
          <p class="panel-title"><h3>Panel title</h3></p>
          </div>
          <div class="list-group">
          <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading</h4>
          <p class="list-group-item-text">Details</p>
          </a>
          </div>
          <div class="list-group">
          <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading</h4>
          <p class="list-group-item-text">Details</p>
          </a>
          </div>
          <div class="list-group">
          <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading</h4>
          <p class="list-group-item-text">Details</p>
          </a>
          </div>
            
        </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="panel panel-primary">
          <div class="panel-heading">
          <p class="panel-title"><h3>Panel title</h3></p>
          </div>
          <div class="list-group">
          <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading</h4>
          <p class="list-group-item-text">Details</p>
          </a>
          </div>
          <div class="list-group">
          <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading</h4>
          <p class="list-group-item-text">Details</p>
          </a>
          </div>
          <div class="list-group">
          <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading</h4>
          <p class="list-group-item-text">Details</p>
          </a>
          </div>
            
        </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="panel panel-primary">
          <div class="panel-heading">
          <p class="panel-title"><h3>Panel title</h3></p>
          </div>
          <div class="list-group">
          <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading</h4>
          <p class="list-group-item-text">Details</p>
          </a>
          </div>
          <div class="list-group">
          <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading</h4>
          <p class="list-group-item-text">Details</p>
          </a>
          </div>
          <div class="list-group">
          <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading</h4>
          <p class="list-group-item-text">Details</p>
          </a>
          </div>
            
        </div>
        </div>
      </div>
      </div> <!-- /container -->